@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
    padding-top: 4px;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: .7em;
    color: #7575a3;
    text-decoration: none;
}

.main-nav { 
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid #ece5ff;
    height: 50px;
    background-color: #efecf9;
}

.main-nav li { 
    padding: 0 5%;
    text-align: right;
}

.nav a:hover {
    color: #ca80ff;
    background-color: rgba(255,255,255, .3);
}

.main-header {
    background-size: cover;
    padding-bottom: 20px;
}

.content-section {
    margin: 1em;
    border: 1px solid red;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-weight: normal;
    font-size: 2.5em;
    color: #dcd1fa; 
    text-align: left;
}

.homepage-img {
    float: left;
    height: 300px;
    width: 400px;
    margin: 15px;
    border-radius: 30%;

}

.main-footer {
    background-color: #e0e0eb;
    padding: .5em 0em;
}

.main-footer-container {
    display: flex;
    align-items: center;
}
.footer-header {
    color: #7575a3;
    padding-left: .5em;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
}



.about-img {
    height: 50%;
    width: 50%;
}

/* 
#homepage_img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    object-position: center;
} */