@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}


.nav li {
    display: inline-block;
}

.nav a {
    padding: .7em;
    color: #7575a3;
    text-decoration: none;
}

.main-nav { 
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid #ece5ff;
    height: 50px;
    background-color: #efecf9;
}

.main-nav ul {
    margin: 0;
    padding-top: 4px; 
}

.main-nav li { 
    padding: 0 5%;
    text-align: right;
}

.nav a:hover {
    color: #ca80ff;
    background-color: rgba(255,255,255, .3);
}

.main-header {
    background-size: cover;
    padding-bottom: 20px;
    height: 10vh;
}

.home-content-section {
    margin: 1em;
    height: 550px;
    padding: 0px;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    height: 80vh;
}

.section-header {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-weight: lighter;
    font-size: 3.5em;
    color: #7575a3; 
    text-align: left;
    margin: 5px 5px;
}

.div-img .homepage-img {
    object-fit: cover;
    height:400px;
    width: 100%;
}

.about-section-header {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-weight: lighter;
    font-size: 3.5em;
    color: #7575a3; 
    text-align: left;
    margin: 5px 5px;
}

.about-content-section {
    margin: 0px;
    height: 80vh;
    padding: 0px;
    background-color: rgba(255,255,255, 0.4);
    background-image: url("images/RedSelaron2.png");
    background-blend-mode: overlay;
    background-size: cover;
}

.about-div {
    width: 50%;
    float: left;
    height: 100%;
    color: #f0f0f5;
    font-size: large;
    text-align: left;
    padding-left: 1em;
}

#about-main-text {
    background-color: rgba(117,117,163, 0.4);
}

#top-div {
    text-align: left;
    padding-left: .5em;
}

#bottom-div {
    text-align: right;
    padding-right: .5em;
}    

.main-footer-container {
    display: inline;
    background-color: #e0e0eb;
    padding: .5em 0em;
    height: 10vh;
    border: 1px yellow solid;
    
}
.footer-header {
    text-align: left;
    color: #7575a3;
    padding-left: .5em;
    border: 1px orange solid;
}

.main-footer-container ul {
    text-align: right;
    border: 1px red solid;
}

.footer-nav li {
    padding: 0 .5em;
    border: 1px green solid;
}

.footer-nav img {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    border: 1px pink solid;
}




/* 
#homepage_img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    object-position: center;
} */