@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: .7em;
    color: #7575a3;
    text-decoration: none;
}

.main-nav { 
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1.5px solid #ece5ff;
    height: 60px;
    background-color: #efecf9;
}

.main-nav ul {
    margin: 0;
    padding-top: 4px; 
}

.main-nav li { 
    padding: 0 5%;
    text-align: right;
}

.main-nav a:hover {
    color: #ca80ff;
    background-color: rgba(255,255,255, .3);
}

.main-header {
    background-size: cover;
    padding: 0px;
    height: 60px;
}

.home-content-section {
    margin: 1em;
    height: 550px;
    padding: 0px;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;
}

.section-header {
    margin: 20px 20px;
    padding: 20px;
    height: 100px;
    background-color: rgba(255,255,255, 0.7);
}

.section-header h1 {
    font-family: 'Parisienne', cursive;
    font-family: 'Kalam', cursive;
    font-weight: lighter;
    font-size: 3em;
    color: #7575a3;
    color:  #861386;
    text-align: left;
    margin: 0px;
}

.div-img .homepage-img {
    object-fit: cover;
    height:400px;
    width: 100%;
}


.about-content-section {
    display: flex;
    margin: 0px;
    height: 90vh;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.35);
    background-image: url("images/RedSelaron2.png");
    background-blend-mode: overlay;
    background-size: cover;
    object-fit: cover;
    border: 2px yellow solid;
}


.about-div {
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    float: left;
    color: #f0f0f5;
    font-size: large;
    font-weight: normal;
    text-align: left;
    padding: 2em 2em;
    margin: .5em;
    background-color: rgba(117,117,163, 0.8);
    vertical-align: middle;
}

.about-div p {
    margin: .5em;
}

#top-div {
    text-align: left;
    padding-left: .5em;
}

#bottom-div {
    text-align: right;
    padding-right: .5em;
}    

.main-footer {
    background-color: #e0e0eb;
    background-color: rgba(153,0,153,0.4);
}

.main-footer-container {
    display: flex;
    align-items: center;
    margin: 0px;
}

.footer-header {
    color: #7575a3;
    color: white;
    padding-left: 20px;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
}

.contact-container {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.bg-img {
    background-image: url("images/About_NatashaSeeto.jpg");
    background-color: rgba(255, 255, 255, 0.35);
    background-blend-mode: overlay;
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.flexbox-container {
    display: flex;
    align-items: stretch;
    height: 90vh;
}

.flexbox-item {
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.flexbox-item-1 {
    display: flex;
    flex-grow: 1;
    min-height: 200px;
    margin: 0px 20px 20px 20px;
}

.flexbox-item-2 {
    display: block;
    min-height: 200px;
    background-color: rgba(117,117,163, 0.55);
    margin: 0px 20px 20px 20px;
}

.form {
    padding: 10px;
    margin: 10px;
}

.form-item {
    padding-bottom: 20px;
    margin: 10px;
}

.form-item input, .form textarea {
    border: solid 3px #bf66ff;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.8);
    padding-bottom: 20px;
    padding: 8px;
    width: 100%;
}

.form label {
    display: block;
    color: white;
    font-size: 1.5em;
}


.form button:hover {
    background-color: #bf66ff;
    color: white;
}

.form button {
  width: 70px;
  text-align: center;
  height: 50px;
  padding: 4px;
  margin: 2px;
  font-size: 1.25em;
  border: solid 3px #bf66ff;
  border-radius: 5px;
  color: #bf66ff; 
}